# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
data/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store

# Project specific
models/*.npy
notebooks/experiments/results/

# VS code
.vscode/
